@media (max-width: 1426px) {

    .footer {
        width: 90%;
    }

}

@media (max-width: 1372px) {

    .TopPicks_wrapper_offersContainer {
        width: 90%;
    }

    .owlCarouselBlock {
        margin-left: 3%;
    }

    .instagramBlock_Grid {
        width: 650px;
    }

    .instagramBlock_Grid_img:last-child {
        display: none;
    }

}

@media (max-width: 1250px) {

    .offering_block {
        height: 530px;
    }

    .TopPicksContainer {
        margin-top: 610px;
    }

    .offerring_block_offer1 {
        margin-left: 30px;
    }

    .offerring_block_offer2 {
        margin-right: 30px;
    }

    .TopPicksContainer {
        padding-bottom: 600px;
    }

    .TopPicks_offersContainer {
        width: 80%;
        justify-content: space-around;
    }

    .TopPicks_topBlock {
        margin-top: 60px;
    }

    .offersContainer_block:nth-child(3) {
        margin-top: 50px;
    }

    .dealOfTheDay_topBlock {
        margin-top: 13px;
    }

    .owlCarouselBlock {
        margin-left: 18%;
    }

    .instagramBlock_Grid {
        width: 520px;
    }

    .instagramBlock_Grid_img:nth-child(6) {
        display: none;
    }

}

@media (max-width: 1192px) {
    .owlCarouselBlock {
        margin-left: 13%;
    }

    .instagramBlock_Grid {
        width: 420px;
    }

    .instagramBlock_Grid_img:nth-child(5) {
        display: none;
    }

}

@media (max-width: 1032px) {

    .TopPicks_offersContainer {
        width: 100%;
    }

    .owlCarouselBlock {
        margin-left: 7%;
    }

    .FooterMenu_ul {
        display: none;
    }

    .mobile_FooterMenu_ul {
        display: flex;
    }

}

@media (max-width: 920px) {

    .nav {
        width: 70px;
    }

    .logoBlock {
        height: 70px;
    }

    .logoBlock h1 {
        font-size: 30px;
        margin-top: 18px;
    }

    .nav h3 {
        margin-top: 80px;
        font-size: 17px;
    }

    .burgerMenu {
        position: relative;
        width: 40px;
        height: 40px;
        margin-bottom: 17px;
        margin-left: 7px;
    }

    .openMenu,
    .closeMenu {
        width: 40px;
        height: 40px;
        top: 10px;
        left: 10px;
    }

    .burgerMenu div img {
        width: 40px;
        height: 40px;
    }

    .burgerMenuSection {
        left: -190px;
        width: 240px;
        height: 100vh;
    }

    .burgerMenuSwitch {
        left: 70px;
        transition: .5s;
    }

    .burgerMenu_ul {
        margin-top: 30px;
    }

    .menu_link {
        font-size: 24px;
    }

    .desriptionBlock {
        /*        left: 170px;*/
        left: 20%;
    }

    .desriptionBlock h2 {
        font-size: 35px;
    }

    .desriptionBlock p {
        font-size: 14px;
        margin-bottom: 50px;
    }

    .linkOrder {
        width: 130px;
        padding: 15px 0px;
        padding-right: 20px;
        font-size: 14px;
    }

    .linkOrderArrow {
        top: 12px;
        right: 16px;
    }

    .linkOrder:hover .linkOrderArrow {
        right: 11px;
        transition: 0.3s;
    }

    .linkOrderArrow img {
        width: 20px;
        height: 20px;
    }

    .offerring_block_border h3 {
        font-size: 14px;
    }

    .offerring_block_border h2 {
        font-size: 21px;
    }

    .offerring_block_small_border h3 {
        font-size: 14px;
    }

    .offerring_block_small_border h2 {
        font-size: 21px;
    }

    .owlCarouselBlock {
        margin-left: 4%;
    }


}

@media (max-width: 862px) {

    .TopPicks_offersContainer {
        width: 70%;
    }

    .TopPicksContainer {
        padding-bottom: 1100px;
    }

    .offersContainer_block {
        margin-top: 50px;
    }

    .offersContainer_block:first-child {
        margin-top: -20px;
    }

    .TopPicks_line {
        width: 83px;
        height: 2.4px;
    }

    .TopPicks_topBlock {
        margin-top: 20px;
    }

    .TopPicks_topBlock h3 {
        font-size: 16px;
    }

    .TopPicks_titleBlock h1 {
        font-size: 38px;
    }

    .TopPicks_titleBlock p {
        font-size: 14px;
    }

    .TopPicks_iconBlock {
        margin-top: 10px;
    }

    .TopPicks_iconBlock_img {
        width: 41px;
        height: 41px;
    }

    .TopPicks_iconBlock p {
        font-size: 14px;
    }

    .dealOfTheDay_Title {
        font-size: 34px;
    }

    .dealOfTheDay_price {
        font-size: 30px;
    }

    .dealOfTheDay_manuIcon {
        margin-top: 20px;
    }

    .dealOfTheDay_iconBurgerBlock img,
    .dealOfTheDay_iconDrinkBlock img {
        width: 48px;
        height: 48px;
    }

    .reviews_topBlock {
        margin-top: 40px;
    }

    .owlCarouselBlock {
        margin-left: 27%;
    }

    .footer {
        width: 84%;
        height: 550px;
        flex-wrap: wrap;
    }

    .block_Text_SocMedia {
        height: 280px;
    }

    .mobile2_FooterMenu_ul {
        display: flex;
        width: 130px;
        height: 160px;
        padding: 0;
        margin-bottom: 0;
    }

    .mobile_FooterMenu_ul {
        display: none;
    }

    .instagramBlock {
        margin-left: 0;
    }

}

@media (max-width: 752px) {

    .owlCarouselBlock {
        margin-left: 23%;
    }

}

@media (max-width: 642px) {

    .owlCarouselBlock {
        margin-left: 17%;
    }

    .owlCarusel-nav-left {
        margin-left: 2%;
    }

    .offering_block {
        height: 850px;
        flex-wrap: wrap;
    }

    .offerring_block_offer1 {
        width: 84%;
        height: 260px;
        margin-left: -0.2px;
        margin-bottom: 30px;
    }

    .offerring_block_border {
        height: 87%;
        margin-top: 14px;
    }

    .TopPicksContainer {
        margin-top: 920px;
    }

    .TopPicks_titleBlock h1 {
        font-size: 35px;
    }

    .TopPicks_titleBlock p {
        width: 370px;
        font-size: 12px;
    }
    
    .TopPicksContainer{
        padding-bottom: 980px;
    }

    .offersContainerImage {
        width: 320px;
        height: 320px;
    }

    .offersContainer_block h3 {
        font-size: 22px;
    }

    .offersContainer_block h2 {
        font-size: 15px;
    }

}

@media (max-width: 560px) {

    .owlCarouselBlock {
        margin-left: 13%;
    }

    .nav {
        width: 60px;
    }

    .logoBlock {
        height: 60px;
    }

    .logoBlock h1 {
        font-size: 27px;
        margin-top: 16px;
    }

    .nav h3 {
        margin-top: 80px;
        font-size: 15px;
    }

    .burgerMenu {
        position: relative;
        width: 30px;
        height: 30px;
        margin-bottom: 17px;
        margin-left: 4px;
    }

    .openMenu,
    .closeMenu {
        width: 30px;
        height: 30px;
        top: 10px;
        left: 10px;
    }

    .burgerMenu div img {
        width: 30px;
        height: 30px;
    }

    .burgerMenuSection {
        left: -190px;
        width: 200px;
        height: 100vh;
    }

    .burgerMenuSwitch {
        left: 50px;
        transition: .5s;
    }

    .burgerMenu_ul {
        margin-top: 30px;
    }

    .menu_link {
        font-size: 18px;
    }

    .desriptionBlock {
        left: 17%;
    }

    .desriptionBlock h2 {
        font-size: 30px;
    }

    .desriptionBlock p {
        font-size: 12px;
        margin-bottom: 50px;
    }

    .linkOrder {
        width: 110px;
        padding: 12px 0px;
        padding-right: 20px;
        font-size: 12px;
    }

    .linkOrderArrow {
        top: 10px;
        right: 16px;
    }

    .linkOrder:hover .linkOrderArrow {
        right: 11px;
        transition: 0.3s;
    }

    .linkOrderArrow img {
        width: 18px;
        height: 18px;
    }

}

@media (max-width: 510px) {

    .owlCarouselBlock {
        margin-left: 7%;
    }

    .footer {
        height: 700px;
    }

    .instagramBlock {
        height: 360px;
        margin-top: -60px;
    }

    .instagramBlock_Grid {
        flex-wrap: wrap;
        width: 305px;
        height: 256px;
    }

    .instagramBlock_Grid_img:nth-child(5),
    .instagramBlock_Grid_img:nth-child(6) {
        display: block;
    }

    .instagramBlock_Grid_img:last-child {
        display: none;
    }

}

@media (max-width: 480px) {

    .footer {
        height: 720px;
    }

    .block_Text_SocMedia {
        height: 250px;
        margin-left: -20px;
        margin-top: -60px;
    }

    .block_Text_SocMedia {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .block_Text_SocMedia p {
        margin-top: 0;
    }

    .mobile2_FooterMenu_ul {
        display: none;
    }

    .mobile_FooterMenu_ul {
        width: 330px;
        display: flex;
        margin: 0;
        margin-left: -20px;
        padding: 0;
    }

    .instagramBlock {
        margin-top: 0;
    }
    
    .reviews_topBlock h3{
        font-size: 
    }

}

@media (max-width: 460px) {

    .owlCarouselBlock {
        margin-left: 3%;
    }

    .nav {
        width: 50px;
    }

    .logoBlock {
        height: 50px;
    }

    .logoBlock h1 {
        font-size: 22px;
        margin-top: 13px;
    }

    .nav h3 {
        margin-top: 80px;
        font-size: 13px;
    }

    .burgerMenu {
        position: relative;
        width: 27px;
        height: 27px;
        margin-bottom: 17px;
        margin-left: 1px;
    }

    .openMenu,
    .closeMenu {
        width: 27px;
        height: 27px;
        top: 10px;
        left: 10px;
    }

    .burgerMenu div img {
        width: 27px;
        height: 27px;
    }

    .burgerMenuSection {
        left: -190px;
        width: 150px;
        height: 100vh;
    }

    .burgerMenuSwitch {
        left: 50px;
        transition: .5s;
    }

    .burgerMenu_ul {
        margin-top: 30px;
    }

    .menu_li {
        margin-bottom: 27px;
    }

    .menu_link {
        font-size: 13px;
    }

    .desriptionBlock {
        left: 17%;
    }

    .desriptionBlock h2 {
        font-size: 26px;
    }

    .desriptionBlock p {
        font-size: 11px;
        margin-bottom: 50px;
    }

    .linkOrder {
        width: 100px;
        padding: 12px 0px;
        padding-right: 20px;
        font-size: 10px;
    }

    .linkOrderArrow {
        top: 10px;
        right: 16px;
    }

    .linkOrder:hover .linkOrderArrow {
        right: 11px;
        transition: 0.3s;
    }

    .linkOrderArrow img {
        width: 16px;
        height: 16px;
    }

}

@media (max-width: 408px) {

    .owlCarouselBlock {
        transform: scale(0.85);
    }

    .owlCarouselBlock {
        margin-left: 0%;
    }


}

@media (max-width: 380px) {}
